/* BUTTONS */
.primary-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.secondary-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #22c55e;
  color: #22c55e;
  border-radius: 8px;
  text-decoration: none;
}

/* CARDS */
.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  width: 300px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card h3 {
  margin-bottom: 8px;
}

.card p {
  color: #555;
}
